#container {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

input[type="text"] {
  padding: 10px;
  font-size: 18px;
  width: 60%;
  margin-bottom: 20px;
}

select {
  padding: 10px;
  font-size: 18px;
  width: 20%;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}