*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    
  }
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background:url(bg.jpg) no-repeat ;
    background-size: cover;
    line-height: 2.2;
    font-size: 0.875rem;

  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
    justify-content: center;
    background-size: cover;
    text-align: center;
    transition: filter 0.7s;
  }
  
  h1 {
    font-size: 60px;
    color: black;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    letter-spacing: 4px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .btn {
    padding: 10px 20px;
    width: 250px;
    cursor: pointer;
    background-color:rgb(33, 117, 214);
    border: none;
    border-radius: 5px;
    font-size: 20px;
  }
  