body{
  background-image: url(montagne.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height:   665px;

}

#quote-box {
  width: 50%;
  margin: auto;
  padding: 2em;
  background-color: hsla(57, 57%, 44%, 0.458);
  text-align: center;
  border-radius: 10px;
  
}

button {
  padding: 1em 2em;
  background-color: #3399ff;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 2em;
}

button:hover {
  background-color: #0066cc;
}